@font-face {
    font-family: "juliusFont";
    src: url("JuliusSansOne-Regular.woff") format("woff");
}

h1 {
    font-family: "juliusFont", helvetica;
}
.navbar{
    display: flex;
    flex-direction: row;
    
}
.navbar a{
    padding: 20px;
    text-decoration: none;
}